h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

blockquote {
  color: #616161;
  border-left: 5px solid rgba(216, 27, 96, .5);
  padding-left: 10px;
}

pre {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
  background: rgba(0,0,0,.04);
  padding: 1em;
  overflow: auto;
}

:not(pre) > code {
  background: rgba(0,0,0,.05);
  padding: 1px;
}

footer {
  margin-top: 0rem;
  margin-left: 10rem;
}

.nav {
  text-align: right;
}

.blog {
  margin-top: 5vh;
  flex-direction: column;
}

@media (min-width: 600px) {
  .blog {
    padding: 0rem 10rem;
    max-width: 60%;
  }
  .blog-title {
    padding: 0rem 10rem;
  }
  .blog-sub-title {
    padding: 0rem 10rem;
  }
}

.portrait {
  background: url('/images/portrait.jpg');
  background-size: cover;
  background-position: center;
  border: 10px solid black;
  border-radius: 50% 50% 50% 50%;
  width: 325px;
  height: 325px;
  margin-left: auto;
  margin-right: 5%;
}

.small {
  font-size: 1.25rem;
}

.very-small {
  font-size: 0.9rem;
}

.gray {
  color: #616161;
}

.post {
  flex: 1;
  margin-bottom: 1rem;
}

.back {
  margin-top: 2rem;
}
