.nav {
  text-align: right;
}

.blog {
  margin-top: 5vh;
  flex-direction: column;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

.small {
  font-size: 1.25rem;
}

.very-small {
  font-size: 0.9rem;
}

.gray {
  color: #616161;
}

.post {
  flex: 1;
  margin-bottom: 1rem;
}
