{{ partial "head.html" . }}

<div class="nav">
    <a href="/blog">blog</a> |
    <a href="/">home</a> |
    <a href="https://docs.google.com/document/d/e/2PACX-1vQ0jm0M2F0yEJbAbVMzTsf2ju_7yqGOxNqUFwevS-urYUjK3KaiRfPIiKkkVGfCgAfjlVAtumg9TJCl/pub">resume</a>
</div>

<h1>{{ .Title }}</h1>

<main class="blog">
<article class="post">

  <h2>
    <p class="small gray">
      <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Jan 02, 2006" }}</time>
    </p>
  </h2>

  {{ .Content }}


  <p class="back">
    <a href="/blog" class="gray">« back</a>
  </p>

</article>
</main>

