<p>I'm a software developer based in Boulder, CO, USA.</p>

<p>
I live with my wife, <a href="https://adinamichelleevents.com" target="_blank">Adina Sanders</a>,
and our puppy, <a href="https://www.instagram.com/fionathebluepittie" target="_blank">Fiona</a>.
</p>

<p>
I'm currently employed by <a href="https://pivotal.io" target="_blank">Pivotal</a>, and work on the <a href="https://pivotal.io/services/pcf-solutions" target="_blank">Pivotal Cloud Foundry Solutions</a> team.

<p>
I can also make you a website or mobile app, so if you need one let's chat!
</p>
