<p>I'm a software developer based in Boulder, CO, USA.</p>

<p>
I live with my wife, <a href="https://adinamichelleevents.com" target="_blank">Adina Sanders</a>,
and my dog, <a href="https://www.instagram.com/fionathebluepittie" target="_blank">Fiona</a>.
</p>

<p>
Most of my week days are spent working on the on the <a href="https://pivotal.io/services/pcf-solutions" target="_blank">Pivotal Cloud Foundry Solutions</a> team at <a href="https://pivotal.io" target="_blank">Pivotal</a>.
</p>

<p>
I'm always up for interesting projects, so if you need some help with a website, or mobile app reach out!
</p>
